
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
</head>
<body>
<!--icore-pts-stg3.paic.com.cn  localhost:7001-->
<form action="http://test-api.pingan.com.cn:20080/open/appsvr/property/applyCustToFinance?access_token=62BE12F9C58841D3AF42C4D13DC2AF34" method="post">
	dataSource<br><input type="input" value="138" name="dataSource"><br>
	customerName<br><input type="input" value="李二狗" name="customerName"><br>
	certType<br><input type="input" value="1" name="certType"><br>
	certNO<br><input type="input" value="234234234" name="certNO"><br>
	phoneNo<br><input type="input" value="13344444444" name="phoneNo"><br>
	currencyNo<br><input type="input" value="RMB" name="currencyNo"><br>
	businessNo<br><input type="input" value="02020088000135987505" name="businessNo"><br>
	amount<br><input type="input" value="80.00" name="amount"><br>
	callBackUrl<br><input type="input" value="https://www.baidu.com/" name="callBackUrl"><br>
	productName<br><input type="input" value="平安守护健康保障" name="productName"><br>
	signMsg<br><input type="input" value="b8ae9377ea928a9a302ce9c3e65d4685451aeedb748be4fba8f2e468abeff455" name="signMsg"><br>
	<input id="submit" type="submit" value="提交" />
</form>

</body>
</html>