<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="txc.xxy.ssm.mapper.BugListMapper">
	<resultMap id="BaseResultMap" type="txc.xxy.ssm.model.BugList">
		<id column="bug_id" jdbcType="VARCHAR" property="bugId" />
		<result column="bug_title" jdbcType="VARCHAR" property="bugTitle" />
		<result column="type_code" jdbcType="VARCHAR" property="typeCode" />
		<result column="priority_code" jdbcType="VARCHAR" property="priorityCode" />
		<result column="error_level" jdbcType="VARCHAR" property="errorLevel" />
		<result column="bug_desc" jdbcType="VARCHAR" property="bugDesc" />
		<result column="accessory_url" jdbcType="VARCHAR" property="accessoryUrl" />
		<result column="accessory_title" jdbcType="VARCHAR" property="accessoryTitle" />
		<result column="feedback" jdbcType="VARCHAR" property="feedback" />
		<result column="subject_id" jdbcType="VARCHAR" property="subjectId" />
		<result column="subject_type" jdbcType="VARCHAR" property="subjectType" />
		<result column="group_id" jdbcType="VARCHAR" property="groupId" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="create_uid" jdbcType="VARCHAR" property="createUid" />
		<result column="update_uid" jdbcType="VARCHAR" property="updateUid" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		bug_id, bug_title, type_code, priority_code, error_level, bug_desc, accessory_url, 
		accessory_title, feedback, subject_id, subject_type, group_id, status, create_time, 
		update_time, create_uid, update_uid
	</sql>
	<select id="selectByExample" parameterType="txc.xxy.ssm.model.BugListExample" resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		'false' as QUERYID,
		<include refid="Base_Column_List" />
		from bug_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from bug_list
		where bug_id = #{bugId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from bug_list
		where bug_id = #{bugId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="txc.xxy.ssm.model.BugListExample">
		delete from bug_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="txc.xxy.ssm.model.BugList">
		insert into bug_list (bug_id, bug_title, type_code, 
			priority_code, error_level, bug_desc, 
			accessory_url, accessory_title, feedback, 
			subject_id, subject_type, group_id, 
			status, create_time, update_time, 
			create_uid, update_uid)
		values (#{bugId,jdbcType=VARCHAR}, #{bugTitle,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, 
			#{priorityCode,jdbcType=VARCHAR}, #{errorLevel,jdbcType=VARCHAR}, #{bugDesc,jdbcType=VARCHAR}, 
			#{accessoryUrl,jdbcType=VARCHAR}, #{accessoryTitle,jdbcType=VARCHAR}, #{feedback,jdbcType=VARCHAR}, 
			#{subjectId,jdbcType=VARCHAR}, #{subjectType,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
			#{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
			#{createUid,jdbcType=VARCHAR}, #{updateUid,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="txc.xxy.ssm.model.BugList">
		insert into bug_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bugId != null">
				bug_id,
			</if>
			<if test="bugTitle != null">
				bug_title,
			</if>
			<if test="typeCode != null">
				type_code,
			</if>
			<if test="priorityCode != null">
				priority_code,
			</if>
			<if test="errorLevel != null">
				error_level,
			</if>
			<if test="bugDesc != null">
				bug_desc,
			</if>
			<if test="accessoryUrl != null">
				accessory_url,
			</if>
			<if test="accessoryTitle != null">
				accessory_title,
			</if>
			<if test="feedback != null">
				feedback,
			</if>
			<if test="subjectId != null">
				subject_id,
			</if>
			<if test="subjectType != null">
				subject_type,
			</if>
			<if test="groupId != null">
				group_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createUid != null">
				create_uid,
			</if>
			<if test="updateUid != null">
				update_uid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bugId != null">
				#{bugId,jdbcType=VARCHAR},
			</if>
			<if test="bugTitle != null">
				#{bugTitle,jdbcType=VARCHAR},
			</if>
			<if test="typeCode != null">
				#{typeCode,jdbcType=VARCHAR},
			</if>
			<if test="priorityCode != null">
				#{priorityCode,jdbcType=VARCHAR},
			</if>
			<if test="errorLevel != null">
				#{errorLevel,jdbcType=VARCHAR},
			</if>
			<if test="bugDesc != null">
				#{bugDesc,jdbcType=VARCHAR},
			</if>
			<if test="accessoryUrl != null">
				#{accessoryUrl,jdbcType=VARCHAR},
			</if>
			<if test="accessoryTitle != null">
				#{accessoryTitle,jdbcType=VARCHAR},
			</if>
			<if test="feedback != null">
				#{feedback,jdbcType=VARCHAR},
			</if>
			<if test="subjectId != null">
				#{subjectId,jdbcType=VARCHAR},
			</if>
			<if test="subjectType != null">
				#{subjectType,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null">
				#{groupId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUid != null">
				#{createUid,jdbcType=VARCHAR},
			</if>
			<if test="updateUid != null">
				#{updateUid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByExampleSelective" parameterType="map">
		update bug_list
		<set>
			<if test="record.bugId != null">
				bug_id = #{record.bugId,jdbcType=VARCHAR},
			</if>
			<if test="record.bugTitle != null">
				bug_title = #{record.bugTitle,jdbcType=VARCHAR},
			</if>
			<if test="record.typeCode != null">
				type_code = #{record.typeCode,jdbcType=VARCHAR},
			</if>
			<if test="record.priorityCode != null">
				priority_code = #{record.priorityCode,jdbcType=VARCHAR},
			</if>
			<if test="record.errorLevel != null">
				error_level = #{record.errorLevel,jdbcType=VARCHAR},
			</if>
			<if test="record.bugDesc != null">
				bug_desc = #{record.bugDesc,jdbcType=VARCHAR},
			</if>
			<if test="record.accessoryUrl != null">
				accessory_url = #{record.accessoryUrl,jdbcType=VARCHAR},
			</if>
			<if test="record.accessoryTitle != null">
				accessory_title = #{record.accessoryTitle,jdbcType=VARCHAR},
			</if>
			<if test="record.feedback != null">
				feedback = #{record.feedback,jdbcType=VARCHAR},
			</if>
			<if test="record.subjectId != null">
				subject_id = #{record.subjectId,jdbcType=VARCHAR},
			</if>
			<if test="record.subjectType != null">
				subject_type = #{record.subjectType,jdbcType=VARCHAR},
			</if>
			<if test="record.groupId != null">
				group_id = #{record.groupId,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=CHAR},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.createUid != null">
				create_uid = #{record.createUid,jdbcType=VARCHAR},
			</if>
			<if test="record.updateUid != null">
				update_uid = #{record.updateUid,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update bug_list
		set bug_id = #{record.bugId,jdbcType=VARCHAR},
			bug_title = #{record.bugTitle,jdbcType=VARCHAR},
			type_code = #{record.typeCode,jdbcType=VARCHAR},
			priority_code = #{record.priorityCode,jdbcType=VARCHAR},
			error_level = #{record.errorLevel,jdbcType=VARCHAR},
			bug_desc = #{record.bugDesc,jdbcType=VARCHAR},
			accessory_url = #{record.accessoryUrl,jdbcType=VARCHAR},
			accessory_title = #{record.accessoryTitle,jdbcType=VARCHAR},
			feedback = #{record.feedback,jdbcType=VARCHAR},
			subject_id = #{record.subjectId,jdbcType=VARCHAR},
			subject_type = #{record.subjectType,jdbcType=VARCHAR},
			group_id = #{record.groupId,jdbcType=VARCHAR},
			status = #{record.status,jdbcType=CHAR},
			create_time = #{record.createTime,jdbcType=TIMESTAMP},
			update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			create_uid = #{record.createUid,jdbcType=VARCHAR},
			update_uid = #{record.updateUid,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="txc.xxy.ssm.model.BugList">
		update bug_list
		<set>
			<if test="bugTitle != null">
				bug_title = #{bugTitle,jdbcType=VARCHAR},
			</if>
			<if test="typeCode != null">
				type_code = #{typeCode,jdbcType=VARCHAR},
			</if>
			<if test="priorityCode != null">
				priority_code = #{priorityCode,jdbcType=VARCHAR},
			</if>
			<if test="errorLevel != null">
				error_level = #{errorLevel,jdbcType=VARCHAR},
			</if>
			<if test="bugDesc != null">
				bug_desc = #{bugDesc,jdbcType=VARCHAR},
			</if>
			<if test="accessoryUrl != null">
				accessory_url = #{accessoryUrl,jdbcType=VARCHAR},
			</if>
			<if test="accessoryTitle != null">
				accessory_title = #{accessoryTitle,jdbcType=VARCHAR},
			</if>
			<if test="feedback != null">
				feedback = #{feedback,jdbcType=VARCHAR},
			</if>
			<if test="subjectId != null">
				subject_id = #{subjectId,jdbcType=VARCHAR},
			</if>
			<if test="subjectType != null">
				subject_type = #{subjectType,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null">
				group_id = #{groupId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUid != null">
				create_uid = #{createUid,jdbcType=VARCHAR},
			</if>
			<if test="updateUid != null">
				update_uid = #{updateUid,jdbcType=VARCHAR},
			</if>
		</set>
		where bug_id = #{bugId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="txc.xxy.ssm.model.BugList">
		update bug_list
		set bug_title = #{bugTitle,jdbcType=VARCHAR},
			type_code = #{typeCode,jdbcType=VARCHAR},
			priority_code = #{priorityCode,jdbcType=VARCHAR},
			error_level = #{errorLevel,jdbcType=VARCHAR},
			bug_desc = #{bugDesc,jdbcType=VARCHAR},
			accessory_url = #{accessoryUrl,jdbcType=VARCHAR},
			accessory_title = #{accessoryTitle,jdbcType=VARCHAR},
			feedback = #{feedback,jdbcType=VARCHAR},
			subject_id = #{subjectId,jdbcType=VARCHAR},
			subject_type = #{subjectType,jdbcType=VARCHAR},
			group_id = #{groupId,jdbcType=VARCHAR},
			status = #{status,jdbcType=CHAR},
			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			create_uid = #{createUid,jdbcType=VARCHAR},
			update_uid = #{updateUid,jdbcType=VARCHAR}
		where bug_id = #{bugId,jdbcType=VARCHAR}
	</update>
</mapper>