<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="txc.xxy.ssm.mapper.DemandMapper">
	<resultMap id="BaseResultMap" type="txc.xxy.ssm.model.Demand">
		<id column="demand_no" jdbcType="VARCHAR" property="demandNo" />
		<result column="introducer_uid" jdbcType="VARCHAR" property="introducerUid" />
		<result column="ticket_no" jdbcType="VARCHAR" property="ticketNo" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="source_type" jdbcType="VARCHAR" property="sourceType" />
		<result column="cate_type" jdbcType="VARCHAR" property="cateType" />
		<result column="principal_uid" jdbcType="VARCHAR" property="principalUid" />
		<result column="expect_workload" jdbcType="DOUBLE" property="expectWorkload" />
		<result column="real_workload" jdbcType="DOUBLE" property="realWorkload" />
		<result column="custom_real_workload" jdbcType="DOUBLE" property="customRealWorkload" />
		<result column="plan_start_time" jdbcType="TIMESTAMP" property="planStartTime" />
		<result column="plan_stop_time" jdbcType="TIMESTAMP" property="planStopTime" />
		<result column="real_response_time" jdbcType="TIMESTAMP" property="realResponseTime" />
		<result column="real_start_time" jdbcType="TIMESTAMP" property="realStartTime" />
		<result column="real_stop_time" jdbcType="TIMESTAMP" property="realStopTime" />
		<result column="ola_total" jdbcType="INTEGER" property="olaTotal" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="priority_code" jdbcType="VARCHAR" property="priorityCode" />
		<result column="os_name" jdbcType="VARCHAR" property="osName" />
		<result column="os_module_code" jdbcType="VARCHAR" property="osModuleCode" />
		<result column="status_code" jdbcType="VARCHAR" property="statusCode" />
		<result column="last_bug_group" jdbcType="VARCHAR" property="lastBugGroup" />
		<result column="issue_time" jdbcType="TIMESTAMP" property="issueTime" />
		<result column="create_uid" jdbcType="VARCHAR" property="createUid" />
		<result column="update_uid" jdbcType="VARCHAR" property="updateUid" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="last_submit_time" jdbcType="TIMESTAMP" property="lastSubmitTime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		demand_no, introducer_uid, ticket_no, name, source_type, cate_type, principal_uid, 
		expect_workload, real_workload, custom_real_workload, plan_start_time, plan_stop_time, 
		real_response_time, real_start_time, real_stop_time, ola_total, description, remark, 
		priority_code, os_name, os_module_code, status_code, last_bug_group, issue_time, 
		create_uid, update_uid, create_time, update_time, last_submit_time
	</sql>
	<select id="selectByExample" parameterType="txc.xxy.ssm.model.DemandExample" resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		'false' as QUERYID,
		<include refid="Base_Column_List" />
		from demand
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from demand
		where demand_no = #{demandNo,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from demand
		where demand_no = #{demandNo,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="txc.xxy.ssm.model.DemandExample">
		delete from demand
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="txc.xxy.ssm.model.Demand">
		insert into demand (demand_no, introducer_uid, ticket_no, 
			name, source_type, cate_type, 
			principal_uid, expect_workload, real_workload, 
			custom_real_workload, plan_start_time, plan_stop_time, 
			real_response_time, real_start_time, real_stop_time, 
			ola_total, description, remark, 
			priority_code, os_name, os_module_code, 
			status_code, last_bug_group, issue_time, 
			create_uid, update_uid, create_time, 
			update_time, last_submit_time)
		values (#{demandNo,jdbcType=VARCHAR}, #{introducerUid,jdbcType=VARCHAR}, #{ticketNo,jdbcType=VARCHAR}, 
			#{name,jdbcType=VARCHAR}, #{sourceType,jdbcType=VARCHAR}, #{cateType,jdbcType=VARCHAR}, 
			#{principalUid,jdbcType=VARCHAR}, #{expectWorkload,jdbcType=DOUBLE}, #{realWorkload,jdbcType=DOUBLE}, 
			#{customRealWorkload,jdbcType=DOUBLE}, #{planStartTime,jdbcType=TIMESTAMP}, #{planStopTime,jdbcType=TIMESTAMP}, 
			#{realResponseTime,jdbcType=TIMESTAMP}, #{realStartTime,jdbcType=TIMESTAMP}, #{realStopTime,jdbcType=TIMESTAMP}, 
			#{olaTotal,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
			#{priorityCode,jdbcType=VARCHAR}, #{osName,jdbcType=VARCHAR}, #{osModuleCode,jdbcType=VARCHAR}, 
			#{statusCode,jdbcType=VARCHAR}, #{lastBugGroup,jdbcType=VARCHAR}, #{issueTime,jdbcType=TIMESTAMP}, 
			#{createUid,jdbcType=VARCHAR}, #{updateUid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
			#{updateTime,jdbcType=TIMESTAMP}, #{lastSubmitTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="txc.xxy.ssm.model.Demand">
		insert into demand
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="demandNo != null">
				demand_no,
			</if>
			<if test="introducerUid != null">
				introducer_uid,
			</if>
			<if test="ticketNo != null">
				ticket_no,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="sourceType != null">
				source_type,
			</if>
			<if test="cateType != null">
				cate_type,
			</if>
			<if test="principalUid != null">
				principal_uid,
			</if>
			<if test="expectWorkload != null">
				expect_workload,
			</if>
			<if test="realWorkload != null">
				real_workload,
			</if>
			<if test="customRealWorkload != null">
				custom_real_workload,
			</if>
			<if test="planStartTime != null">
				plan_start_time,
			</if>
			<if test="planStopTime != null">
				plan_stop_time,
			</if>
			<if test="realResponseTime != null">
				real_response_time,
			</if>
			<if test="realStartTime != null">
				real_start_time,
			</if>
			<if test="realStopTime != null">
				real_stop_time,
			</if>
			<if test="olaTotal != null">
				ola_total,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="priorityCode != null">
				priority_code,
			</if>
			<if test="osName != null">
				os_name,
			</if>
			<if test="osModuleCode != null">
				os_module_code,
			</if>
			<if test="statusCode != null">
				status_code,
			</if>
			<if test="lastBugGroup != null">
				last_bug_group,
			</if>
			<if test="issueTime != null">
				issue_time,
			</if>
			<if test="createUid != null">
				create_uid,
			</if>
			<if test="updateUid != null">
				update_uid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="lastSubmitTime != null">
				last_submit_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="demandNo != null">
				#{demandNo,jdbcType=VARCHAR},
			</if>
			<if test="introducerUid != null">
				#{introducerUid,jdbcType=VARCHAR},
			</if>
			<if test="ticketNo != null">
				#{ticketNo,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="sourceType != null">
				#{sourceType,jdbcType=VARCHAR},
			</if>
			<if test="cateType != null">
				#{cateType,jdbcType=VARCHAR},
			</if>
			<if test="principalUid != null">
				#{principalUid,jdbcType=VARCHAR},
			</if>
			<if test="expectWorkload != null">
				#{expectWorkload,jdbcType=DOUBLE},
			</if>
			<if test="realWorkload != null">
				#{realWorkload,jdbcType=DOUBLE},
			</if>
			<if test="customRealWorkload != null">
				#{customRealWorkload,jdbcType=DOUBLE},
			</if>
			<if test="planStartTime != null">
				#{planStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="planStopTime != null">
				#{planStopTime,jdbcType=TIMESTAMP},
			</if>
			<if test="realResponseTime != null">
				#{realResponseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="realStartTime != null">
				#{realStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="realStopTime != null">
				#{realStopTime,jdbcType=TIMESTAMP},
			</if>
			<if test="olaTotal != null">
				#{olaTotal,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="priorityCode != null">
				#{priorityCode,jdbcType=VARCHAR},
			</if>
			<if test="osName != null">
				#{osName,jdbcType=VARCHAR},
			</if>
			<if test="osModuleCode != null">
				#{osModuleCode,jdbcType=VARCHAR},
			</if>
			<if test="statusCode != null">
				#{statusCode,jdbcType=VARCHAR},
			</if>
			<if test="lastBugGroup != null">
				#{lastBugGroup,jdbcType=VARCHAR},
			</if>
			<if test="issueTime != null">
				#{issueTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUid != null">
				#{createUid,jdbcType=VARCHAR},
			</if>
			<if test="updateUid != null">
				#{updateUid,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastSubmitTime != null">
				#{lastSubmitTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByExampleSelective" parameterType="map">
		update demand
		<set>
			<if test="record.demandNo != null">
				demand_no = #{record.demandNo,jdbcType=VARCHAR},
			</if>
			<if test="record.introducerUid != null">
				introducer_uid = #{record.introducerUid,jdbcType=VARCHAR},
			</if>
			<if test="record.ticketNo != null">
				ticket_no = #{record.ticketNo,jdbcType=VARCHAR},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.sourceType != null">
				source_type = #{record.sourceType,jdbcType=VARCHAR},
			</if>
			<if test="record.cateType != null">
				cate_type = #{record.cateType,jdbcType=VARCHAR},
			</if>
			<if test="record.principalUid != null">
				principal_uid = #{record.principalUid,jdbcType=VARCHAR},
			</if>
			<if test="record.expectWorkload != null">
				expect_workload = #{record.expectWorkload,jdbcType=DOUBLE},
			</if>
			<if test="record.realWorkload != null">
				real_workload = #{record.realWorkload,jdbcType=DOUBLE},
			</if>
			<if test="record.customRealWorkload != null">
				custom_real_workload = #{record.customRealWorkload,jdbcType=DOUBLE},
			</if>
			<if test="record.planStartTime != null">
				plan_start_time = #{record.planStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.planStopTime != null">
				plan_stop_time = #{record.planStopTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.realResponseTime != null">
				real_response_time = #{record.realResponseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.realStartTime != null">
				real_start_time = #{record.realStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.realStopTime != null">
				real_stop_time = #{record.realStopTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.olaTotal != null">
				ola_total = #{record.olaTotal,jdbcType=INTEGER},
			</if>
			<if test="record.description != null">
				description = #{record.description,jdbcType=VARCHAR},
			</if>
			<if test="record.remark != null">
				remark = #{record.remark,jdbcType=VARCHAR},
			</if>
			<if test="record.priorityCode != null">
				priority_code = #{record.priorityCode,jdbcType=VARCHAR},
			</if>
			<if test="record.osName != null">
				os_name = #{record.osName,jdbcType=VARCHAR},
			</if>
			<if test="record.osModuleCode != null">
				os_module_code = #{record.osModuleCode,jdbcType=VARCHAR},
			</if>
			<if test="record.statusCode != null">
				status_code = #{record.statusCode,jdbcType=VARCHAR},
			</if>
			<if test="record.lastBugGroup != null">
				last_bug_group = #{record.lastBugGroup,jdbcType=VARCHAR},
			</if>
			<if test="record.issueTime != null">
				issue_time = #{record.issueTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.createUid != null">
				create_uid = #{record.createUid,jdbcType=VARCHAR},
			</if>
			<if test="record.updateUid != null">
				update_uid = #{record.updateUid,jdbcType=VARCHAR},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.lastSubmitTime != null">
				last_submit_time = #{record.lastSubmitTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update demand
		set demand_no = #{record.demandNo,jdbcType=VARCHAR},
			introducer_uid = #{record.introducerUid,jdbcType=VARCHAR},
			ticket_no = #{record.ticketNo,jdbcType=VARCHAR},
			name = #{record.name,jdbcType=VARCHAR},
			source_type = #{record.sourceType,jdbcType=VARCHAR},
			cate_type = #{record.cateType,jdbcType=VARCHAR},
			principal_uid = #{record.principalUid,jdbcType=VARCHAR},
			expect_workload = #{record.expectWorkload,jdbcType=DOUBLE},
			real_workload = #{record.realWorkload,jdbcType=DOUBLE},
			custom_real_workload = #{record.customRealWorkload,jdbcType=DOUBLE},
			plan_start_time = #{record.planStartTime,jdbcType=TIMESTAMP},
			plan_stop_time = #{record.planStopTime,jdbcType=TIMESTAMP},
			real_response_time = #{record.realResponseTime,jdbcType=TIMESTAMP},
			real_start_time = #{record.realStartTime,jdbcType=TIMESTAMP},
			real_stop_time = #{record.realStopTime,jdbcType=TIMESTAMP},
			ola_total = #{record.olaTotal,jdbcType=INTEGER},
			description = #{record.description,jdbcType=VARCHAR},
			remark = #{record.remark,jdbcType=VARCHAR},
			priority_code = #{record.priorityCode,jdbcType=VARCHAR},
			os_name = #{record.osName,jdbcType=VARCHAR},
			os_module_code = #{record.osModuleCode,jdbcType=VARCHAR},
			status_code = #{record.statusCode,jdbcType=VARCHAR},
			last_bug_group = #{record.lastBugGroup,jdbcType=VARCHAR},
			issue_time = #{record.issueTime,jdbcType=TIMESTAMP},
			create_uid = #{record.createUid,jdbcType=VARCHAR},
			update_uid = #{record.updateUid,jdbcType=VARCHAR},
			create_time = #{record.createTime,jdbcType=TIMESTAMP},
			update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			last_submit_time = #{record.lastSubmitTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="txc.xxy.ssm.model.Demand">
		update demand
		<set>
			<if test="introducerUid != null">
				introducer_uid = #{introducerUid,jdbcType=VARCHAR},
			</if>
			<if test="ticketNo != null">
				ticket_no = #{ticketNo,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="sourceType != null">
				source_type = #{sourceType,jdbcType=VARCHAR},
			</if>
			<if test="cateType != null">
				cate_type = #{cateType,jdbcType=VARCHAR},
			</if>
			<if test="principalUid != null">
				principal_uid = #{principalUid,jdbcType=VARCHAR},
			</if>
			<if test="expectWorkload != null">
				expect_workload = #{expectWorkload,jdbcType=DOUBLE},
			</if>
			<if test="realWorkload != null">
				real_workload = #{realWorkload,jdbcType=DOUBLE},
			</if>
			<if test="customRealWorkload != null">
				custom_real_workload = #{customRealWorkload,jdbcType=DOUBLE},
			</if>
			<if test="planStartTime != null">
				plan_start_time = #{planStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="planStopTime != null">
				plan_stop_time = #{planStopTime,jdbcType=TIMESTAMP},
			</if>
			<if test="realResponseTime != null">
				real_response_time = #{realResponseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="realStartTime != null">
				real_start_time = #{realStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="realStopTime != null">
				real_stop_time = #{realStopTime,jdbcType=TIMESTAMP},
			</if>
			<if test="olaTotal != null">
				ola_total = #{olaTotal,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="priorityCode != null">
				priority_code = #{priorityCode,jdbcType=VARCHAR},
			</if>
			<if test="osName != null">
				os_name = #{osName,jdbcType=VARCHAR},
			</if>
			<if test="osModuleCode != null">
				os_module_code = #{osModuleCode,jdbcType=VARCHAR},
			</if>
			<if test="statusCode != null">
				status_code = #{statusCode,jdbcType=VARCHAR},
			</if>
			<if test="lastBugGroup != null">
				last_bug_group = #{lastBugGroup,jdbcType=VARCHAR},
			</if>
			<if test="issueTime != null">
				issue_time = #{issueTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUid != null">
				create_uid = #{createUid,jdbcType=VARCHAR},
			</if>
			<if test="updateUid != null">
				update_uid = #{updateUid,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastSubmitTime != null">
				last_submit_time = #{lastSubmitTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where demand_no = #{demandNo,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="txc.xxy.ssm.model.Demand">
		update demand
		set introducer_uid = #{introducerUid,jdbcType=VARCHAR},
			ticket_no = #{ticketNo,jdbcType=VARCHAR},
			name = #{name,jdbcType=VARCHAR},
			source_type = #{sourceType,jdbcType=VARCHAR},
			cate_type = #{cateType,jdbcType=VARCHAR},
			principal_uid = #{principalUid,jdbcType=VARCHAR},
			expect_workload = #{expectWorkload,jdbcType=DOUBLE},
			real_workload = #{realWorkload,jdbcType=DOUBLE},
			custom_real_workload = #{customRealWorkload,jdbcType=DOUBLE},
			plan_start_time = #{planStartTime,jdbcType=TIMESTAMP},
			plan_stop_time = #{planStopTime,jdbcType=TIMESTAMP},
			real_response_time = #{realResponseTime,jdbcType=TIMESTAMP},
			real_start_time = #{realStartTime,jdbcType=TIMESTAMP},
			real_stop_time = #{realStopTime,jdbcType=TIMESTAMP},
			ola_total = #{olaTotal,jdbcType=INTEGER},
			description = #{description,jdbcType=VARCHAR},
			remark = #{remark,jdbcType=VARCHAR},
			priority_code = #{priorityCode,jdbcType=VARCHAR},
			os_name = #{osName,jdbcType=VARCHAR},
			os_module_code = #{osModuleCode,jdbcType=VARCHAR},
			status_code = #{statusCode,jdbcType=VARCHAR},
			last_bug_group = #{lastBugGroup,jdbcType=VARCHAR},
			issue_time = #{issueTime,jdbcType=TIMESTAMP},
			create_uid = #{createUid,jdbcType=VARCHAR},
			update_uid = #{updateUid,jdbcType=VARCHAR},
			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			last_submit_time = #{lastSubmitTime,jdbcType=TIMESTAMP}
		where demand_no = #{demandNo,jdbcType=VARCHAR}
	</update>
</mapper>