<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="txc.xxy.ssm.mapper.SystemMsgMapper">
	<resultMap id="BaseResultMap" type="txc.xxy.ssm.model.SystemMsg">
		<id column="msg_id" jdbcType="VARCHAR" property="msgId" />
		<result column="send_uid" jdbcType="VARCHAR" property="sendUid" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="msg_content" jdbcType="VARCHAR" property="msgContent" />
		<result column="msg_type" jdbcType="CHAR" property="msgType" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="dept_id" jdbcType="VARCHAR" property="deptId" />
		<result column="msg_content_txt" jdbcType="VARCHAR" property="msgContentTxt" />
		<result column="org_id" jdbcType="VARCHAR" property="orgId" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		msg_id, send_uid, title, msg_content, msg_type, status, create_time, update_time, 
		dept_id, msg_content_txt, org_id
	</sql>
	<select id="selectByExample" parameterType="txc.xxy.ssm.model.SystemMsgExample" resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		'false' as QUERYID,
		<include refid="Base_Column_List" />
		from system_msg
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from system_msg
		where msg_id = #{msgId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from system_msg
		where msg_id = #{msgId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="txc.xxy.ssm.model.SystemMsgExample">
		delete from system_msg
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="txc.xxy.ssm.model.SystemMsg">
		insert into system_msg (msg_id, send_uid, title, 
			msg_content, msg_type, status, 
			create_time, update_time, dept_id, 
			msg_content_txt, org_id)
		values (#{msgId,jdbcType=VARCHAR}, #{sendUid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
			#{msgContent,jdbcType=VARCHAR}, #{msgType,jdbcType=CHAR}, #{status,jdbcType=CHAR}, 
			#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deptId,jdbcType=VARCHAR}, 
			#{msgContentTxt,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="txc.xxy.ssm.model.SystemMsg">
		insert into system_msg
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="msgId != null">
				msg_id,
			</if>
			<if test="sendUid != null">
				send_uid,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="msgContent != null">
				msg_content,
			</if>
			<if test="msgType != null">
				msg_type,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="deptId != null">
				dept_id,
			</if>
			<if test="msgContentTxt != null">
				msg_content_txt,
			</if>
			<if test="orgId != null">
				org_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="msgId != null">
				#{msgId,jdbcType=VARCHAR},
			</if>
			<if test="sendUid != null">
				#{sendUid,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="msgContent != null">
				#{msgContent,jdbcType=VARCHAR},
			</if>
			<if test="msgType != null">
				#{msgType,jdbcType=CHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deptId != null">
				#{deptId,jdbcType=VARCHAR},
			</if>
			<if test="msgContentTxt != null">
				#{msgContentTxt,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null">
				#{orgId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByExampleSelective" parameterType="map">
		update system_msg
		<set>
			<if test="record.msgId != null">
				msg_id = #{record.msgId,jdbcType=VARCHAR},
			</if>
			<if test="record.sendUid != null">
				send_uid = #{record.sendUid,jdbcType=VARCHAR},
			</if>
			<if test="record.title != null">
				title = #{record.title,jdbcType=VARCHAR},
			</if>
			<if test="record.msgContent != null">
				msg_content = #{record.msgContent,jdbcType=VARCHAR},
			</if>
			<if test="record.msgType != null">
				msg_type = #{record.msgType,jdbcType=CHAR},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=CHAR},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.deptId != null">
				dept_id = #{record.deptId,jdbcType=VARCHAR},
			</if>
			<if test="record.msgContentTxt != null">
				msg_content_txt = #{record.msgContentTxt,jdbcType=VARCHAR},
			</if>
			<if test="record.orgId != null">
				org_id = #{record.orgId,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update system_msg
		set msg_id = #{record.msgId,jdbcType=VARCHAR},
			send_uid = #{record.sendUid,jdbcType=VARCHAR},
			title = #{record.title,jdbcType=VARCHAR},
			msg_content = #{record.msgContent,jdbcType=VARCHAR},
			msg_type = #{record.msgType,jdbcType=CHAR},
			status = #{record.status,jdbcType=CHAR},
			create_time = #{record.createTime,jdbcType=TIMESTAMP},
			update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			dept_id = #{record.deptId,jdbcType=VARCHAR},
			msg_content_txt = #{record.msgContentTxt,jdbcType=VARCHAR},
			org_id = #{record.orgId,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="txc.xxy.ssm.model.SystemMsg">
		update system_msg
		<set>
			<if test="sendUid != null">
				send_uid = #{sendUid,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="msgContent != null">
				msg_content = #{msgContent,jdbcType=VARCHAR},
			</if>
			<if test="msgType != null">
				msg_type = #{msgType,jdbcType=CHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deptId != null">
				dept_id = #{deptId,jdbcType=VARCHAR},
			</if>
			<if test="msgContentTxt != null">
				msg_content_txt = #{msgContentTxt,jdbcType=VARCHAR},
			</if>
			<if test="orgId != null">
				org_id = #{orgId,jdbcType=VARCHAR},
			</if>
		</set>
		where msg_id = #{msgId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="txc.xxy.ssm.model.SystemMsg">
		update system_msg
		set send_uid = #{sendUid,jdbcType=VARCHAR},
			title = #{title,jdbcType=VARCHAR},
			msg_content = #{msgContent,jdbcType=VARCHAR},
			msg_type = #{msgType,jdbcType=CHAR},
			status = #{status,jdbcType=CHAR},
			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			dept_id = #{deptId,jdbcType=VARCHAR},
			msg_content_txt = #{msgContentTxt,jdbcType=VARCHAR},
			org_id = #{orgId,jdbcType=VARCHAR}
		where msg_id = #{msgId,jdbcType=VARCHAR}
	</update>
</mapper>