<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="txc.xxy.ssm.mapper.WorkMapper">
	<resultMap id="BaseResultMap" type="txc.xxy.ssm.model.Work">
		<id column="work_id" jdbcType="VARCHAR" property="workId" />
		<result column="type_code" jdbcType="VARCHAR" property="typeCode" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="work_percent" jdbcType="VARCHAR" property="workPercent" />
		<result column="real_workload" jdbcType="DOUBLE" property="realWorkload" />
		<result column="require" jdbcType="VARCHAR" property="require" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_uid" jdbcType="VARCHAR" property="createUid" />
		<result column="create_uname" jdbcType="VARCHAR" property="createUname" />
		<result column="principal_uid" jdbcType="VARCHAR" property="principalUid" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
		<result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		work_id, type_code, title, work_percent, real_workload, require, content, remark, 
		create_uid, create_uname, principal_uid, status, start_time, finish_time, submit_time, 
		create_time, update_time
	</sql>
	<select id="selectByExample" parameterType="txc.xxy.ssm.model.WorkExample" resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		'false' as QUERYID,
		<include refid="Base_Column_List" />
		from work
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from work
		where work_id = #{workId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from work
		where work_id = #{workId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="txc.xxy.ssm.model.WorkExample">
		delete from work
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="txc.xxy.ssm.model.Work">
		insert into work (work_id, type_code, title, 
			work_percent, real_workload, require, 
			content, remark, create_uid, 
			create_uname, principal_uid, status, 
			start_time, finish_time, submit_time, 
			create_time, update_time)
		values (#{workId,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
			#{workPercent,jdbcType=VARCHAR}, #{realWorkload,jdbcType=DOUBLE}, #{require,jdbcType=VARCHAR}, 
			#{content,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createUid,jdbcType=VARCHAR}, 
			#{createUname,jdbcType=VARCHAR}, #{principalUid,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
			#{startTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{submitTime,jdbcType=TIMESTAMP}, 
			#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="txc.xxy.ssm.model.Work">
		insert into work
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="workId != null">
				work_id,
			</if>
			<if test="typeCode != null">
				type_code,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="workPercent != null">
				work_percent,
			</if>
			<if test="realWorkload != null">
				real_workload,
			</if>
			<if test="require != null">
				require,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createUid != null">
				create_uid,
			</if>
			<if test="createUname != null">
				create_uname,
			</if>
			<if test="principalUid != null">
				principal_uid,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="finishTime != null">
				finish_time,
			</if>
			<if test="submitTime != null">
				submit_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="workId != null">
				#{workId,jdbcType=VARCHAR},
			</if>
			<if test="typeCode != null">
				#{typeCode,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="workPercent != null">
				#{workPercent,jdbcType=VARCHAR},
			</if>
			<if test="realWorkload != null">
				#{realWorkload,jdbcType=DOUBLE},
			</if>
			<if test="require != null">
				#{require,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createUid != null">
				#{createUid,jdbcType=VARCHAR},
			</if>
			<if test="createUname != null">
				#{createUname,jdbcType=VARCHAR},
			</if>
			<if test="principalUid != null">
				#{principalUid,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="finishTime != null">
				#{finishTime,jdbcType=TIMESTAMP},
			</if>
			<if test="submitTime != null">
				#{submitTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByExampleSelective" parameterType="map">
		update work
		<set>
			<if test="record.workId != null">
				work_id = #{record.workId,jdbcType=VARCHAR},
			</if>
			<if test="record.typeCode != null">
				type_code = #{record.typeCode,jdbcType=VARCHAR},
			</if>
			<if test="record.title != null">
				title = #{record.title,jdbcType=VARCHAR},
			</if>
			<if test="record.workPercent != null">
				work_percent = #{record.workPercent,jdbcType=VARCHAR},
			</if>
			<if test="record.realWorkload != null">
				real_workload = #{record.realWorkload,jdbcType=DOUBLE},
			</if>
			<if test="record.require != null">
				require = #{record.require,jdbcType=VARCHAR},
			</if>
			<if test="record.content != null">
				content = #{record.content,jdbcType=VARCHAR},
			</if>
			<if test="record.remark != null">
				remark = #{record.remark,jdbcType=VARCHAR},
			</if>
			<if test="record.createUid != null">
				create_uid = #{record.createUid,jdbcType=VARCHAR},
			</if>
			<if test="record.createUname != null">
				create_uname = #{record.createUname,jdbcType=VARCHAR},
			</if>
			<if test="record.principalUid != null">
				principal_uid = #{record.principalUid,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=VARCHAR},
			</if>
			<if test="record.startTime != null">
				start_time = #{record.startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.finishTime != null">
				finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.submitTime != null">
				submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update work
		set work_id = #{record.workId,jdbcType=VARCHAR},
			type_code = #{record.typeCode,jdbcType=VARCHAR},
			title = #{record.title,jdbcType=VARCHAR},
			work_percent = #{record.workPercent,jdbcType=VARCHAR},
			real_workload = #{record.realWorkload,jdbcType=DOUBLE},
			require = #{record.require,jdbcType=VARCHAR},
			content = #{record.content,jdbcType=VARCHAR},
			remark = #{record.remark,jdbcType=VARCHAR},
			create_uid = #{record.createUid,jdbcType=VARCHAR},
			create_uname = #{record.createUname,jdbcType=VARCHAR},
			principal_uid = #{record.principalUid,jdbcType=VARCHAR},
			status = #{record.status,jdbcType=VARCHAR},
			start_time = #{record.startTime,jdbcType=TIMESTAMP},
			finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
			submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
			create_time = #{record.createTime,jdbcType=TIMESTAMP},
			update_time = #{record.updateTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="txc.xxy.ssm.model.Work">
		update work
		<set>
			<if test="typeCode != null">
				type_code = #{typeCode,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="workPercent != null">
				work_percent = #{workPercent,jdbcType=VARCHAR},
			</if>
			<if test="realWorkload != null">
				real_workload = #{realWorkload,jdbcType=DOUBLE},
			</if>
			<if test="require != null">
				require = #{require,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createUid != null">
				create_uid = #{createUid,jdbcType=VARCHAR},
			</if>
			<if test="createUname != null">
				create_uname = #{createUname,jdbcType=VARCHAR},
			</if>
			<if test="principalUid != null">
				principal_uid = #{principalUid,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="finishTime != null">
				finish_time = #{finishTime,jdbcType=TIMESTAMP},
			</if>
			<if test="submitTime != null">
				submit_time = #{submitTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where work_id = #{workId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="txc.xxy.ssm.model.Work">
		update work
		set type_code = #{typeCode,jdbcType=VARCHAR},
			title = #{title,jdbcType=VARCHAR},
			work_percent = #{workPercent,jdbcType=VARCHAR},
			real_workload = #{realWorkload,jdbcType=DOUBLE},
			require = #{require,jdbcType=VARCHAR},
			content = #{content,jdbcType=VARCHAR},
			remark = #{remark,jdbcType=VARCHAR},
			create_uid = #{createUid,jdbcType=VARCHAR},
			create_uname = #{createUname,jdbcType=VARCHAR},
			principal_uid = #{principalUid,jdbcType=VARCHAR},
			status = #{status,jdbcType=VARCHAR},
			start_time = #{startTime,jdbcType=TIMESTAMP},
			finish_time = #{finishTime,jdbcType=TIMESTAMP},
			submit_time = #{submitTime,jdbcType=TIMESTAMP},
			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where work_id = #{workId,jdbcType=VARCHAR}
	</update>
</mapper>